In [1]:
import cx_Oracle
import pandas as pd
connection = cx_Oracle.connect('jack/swayam@localhost/XE')
cur = connection.cursor()

In [15]:
# cur.execute("CREATE TABLE Airline_Master(EmpID INT PRIMARY KEY,ShortName VARCHAR(10),Name VARCHAR(50),Position VARCHAR(50),DepartmentCode VARCHAR(50),PAN VARCHAR(10),AADHAR INT,BANK VARCHAR(4),IFSCCode VARCHAR(20),AccountNumber VARCHAR(20))")

In [16]:
# cur.execute("Create table Position(Pos_Code INT Primary Key,Description VARCHAR(50))")

In [17]:
# cur.execute("Create table Rate(RateCode INT Primary Key,Description VARCHAR(3),FixedAmount INT,Percentage Decimal)")
# cur.execute("alter table Rate rename to Allowance")

In [18]:
# cur.execute("Create table Charge(Pos_Code INT Primary key,Charge INT)")

In [19]:
# cur.execute("Create TABLE EmpAd(EmpID INT PRIMARY KEY,Month Varchar(10),Attendance INT,Leave INT,total int)")

In [20]:
# cur.execute("Create Table VariableAmt(EmpID INT PRIMARY KEY,ED_Code INT,ED_Month Varchar(20),Amount INT)")

In [21]:
# cur.execute("Create table Payfile(EmpID INT Primary Key,Month Varchar(20),Salary INT)")

In [22]:
# data = cur.execute("Select * from Airline_Master")
# for i in data:
#     print(i)

In [23]:
# cur.execute("Alter table Airline_Master add Pos_Code Int")

In [24]:
# cur.execute("Update Airline_Master set Pos_Code = 5 where EmpId = 5")

In [7]:
d1 = cur.execute("Select * from Airline_Master")
for i in d1:
    print(i)

(1, 'SN1', 'John Doe', 'DPT01', 'ABCP1234X', 1234567890, 'SBI', 'IFSC1234', '1234567890', 1)
(2, 'SN2', 'Jane Smith', 'DPT02', 'XYZQ5678Y', 9876543210, 'BOI', 'IFSC5678', '0987654321', 4)
(3, 'SN3', 'Mike Johnson', 'DPT01', 'LMNO4321Z', 5432167890, 'BOI', 'IFSC4321', '5678901234', 2)
(4, 'SN4', 'Sarah Brown', 'DPT03', 'PQRS8765W', 4567890123, 'SBI', 'IFSC8765', '4321098765', 2)
(5, 'SN5', 'David Lee', 'DPT02', 'UVWX9876V', 7890123456, 'SBI', 'IFSC9876', '9876543210', 5)
(6, 'SN6', 'Jack Sparrow', 'HR001', 'ABCDE1234F', 1234567890, 'SBI', 'IFSC12345678', '1234567130', 6)

In [9]:
# cur.execute("Insert into Position values(6,'Database Admin')")

In [10]:
d2 = cur.execute("Select * from Position")
for i in d2:
    print(i)

(1, 'Pilot')
(2, 'Flight Attendant')
(3, 'Air Traffic Controller')
(4, 'Aircraft Mechanic')
(5, 'Customer Service Agent')
(6, 'Database Admin')

In [28]:
cur.execute("insert into allowance values(6,'NA',0,0)")
d3 = cur.execute("Select * from allowance")
for i in d3:
    print(i)

(1, 'SA', 100, 11)
(2, 'PA', 200, 15)
(3, 'EA', 80, 8)
(4, 'BA', 300, 20)
(5, 'TA', 50, 5)
(0, 'NA', 0, 0)
(6, 'NA', 0, 0)

In [14]:
cur.execute("Insert into EmpAd values(6,'January',26,2,28)")
d4 = cur.execute("Select * from EmpAd")
for i in d4:
    print(i)

(1, 'January', 20, 2, 22)
(2, 'January', 18, 4, 22)
(3, 'January', 22, 1, 23)
(4, 'January', 19, 3, 22)
(5, 'January', 21, 2, 23)
(6, 'January', 26, 2, 28)

In [23]:
cur.execute("Insert into VariableAmt values(6,106,'January',-200)")
d5 = cur.execute("Select * from VariableAmt")
for i in d5:
    print(i)

(1, 101, 'January', 500)
(2, 102, 'January', -200)
(3, 103, 'January', 1000)
(4, 104, 'January', -500)
(5, 105, 'January', 300)
(6, 106, 'January', -200)

In [29]:
# cur.execute("Insert into charge values(5,2300)")

In [15]:
# cur.execute("Insert into charge values(6,3000)")
d6 = cur.execute("Select * from charge")
for i in d6:
    print(i)

(1, 3333)
(2, 2333)
(3, 3000)
(4, 2833)
(5, 2300)
(6, 3000)

In [31]:
d7 = cur.execute("Select * from Airline_Master,Position where Airline_Master.Pos_Code = Position.Pos_Code")
for i in d7:
    print(i)

(1, 'SN1', 'John Doe', 'DPT01', 'ABCP1234X', 1234567890, 'SBI', 'IFSC1234', '1234567890', 1, 1, 'Pilot')
(4, 'SN4', 'Sarah Brown', 'DPT03', 'PQRS8765W', 4567890123, 'SBI', 'IFSC8765', '4321098765', 2, 2, 'Flight Attendant')
(3, 'SN3', 'Mike Johnson', 'DPT01', 'LMNO4321Z', 5432167890, 'BOI', 'IFSC4321', '5678901234', 2, 2, 'Flight Attendant')
(2, 'SN2', 'Jane Smith', 'DPT02', 'XYZQ5678Y', 9876543210, 'BOI', 'IFSC5678', '0987654321', 4, 4, 'Aircraft Mechanic')
(5, 'SN5', 'David Lee', 'DPT02', 'UVWX9876V', 7890123456, 'SBI', 'IFSC9876', '9876543210', 5, 5, 'Customer Service Agent')

In [12]:
# cur.execute("Alter table EmpAd add Total INT")
# cur.execute("update EmpAd set Total = attendance + leave")
# cur.execute("drop table payfile")

In [29]:
# cur.execute("Create table Payfile(EmpID int,month varchar(20),Salary int)")
# cur.execute("drop table Payfile")

In [30]:
# cur.execute("""
#     INSERT INTO Payfile (EmpID, Month, Salary)
#     SELECT e.EmpID, e.Month, (e.Total * c.Charge) + (e.Attendance * c.Charge * (a.Percentage / 100)) + a.FixedAmount + v.Amount AS Salary
#     FROM EmpAd e
#     INNER JOIN Charge c ON e.EmpID = c.Pos_Code
#     INNER JOIN Allowance a ON e.EmpID = a.RateCode
#     INNER JOIN VariableAmt v ON e.EmpID = v.EmpID
# """)

In [31]:
# fd = cur.execute("Select * from payfile")
# for i in fd:
#     print(i)

(1, 'January', 81259)
(2, 'January', 57625)
(3, 'January', 75360)
(4, 'January', 72891)
(5, 'January', 55665)
(6, 'January', 83800)

In [3]:
# cur.execute("create table Master(EmpId INT primary key,Name varchar(50),Password INT)")

In [35]:
# cur.execute("Insert into Master values(6,'Jack Sparrow',1234)")
d10 = cur.execute("Select * from Master")
for i in d10:
    print(i)

(6, 'Jack Sparrow', 1234)