In [1]:
import cx_Oracle
import pandas as pd
connection = cx_Oracle.connect('Ninja/swayam@localhost/XE')
cur = connection.cursor()

In [11]:
# cur.execute("CREATE TABLE master (EmpID NUMBER primary key, EmpName VARCHAR(100), DeptCode NUMBER, PosCode NUMBER, PAN VARCHAR(100), Aadhar NUMBER, Bank VARCHAR(5), IFSC varchar(20), ACCoUNT varchar(20))")

In [16]:
# cur.execute("CREATE TABLE Dept (DeptCode NUMBER PRIMARY KEY, DeptDescription VARCHAR(50))")

In [19]:
# cur.execute("Create table Position(PosCode number primary key,Description varchar(100),rate number)")

In [71]:
# cur.execute("Create table Atten(EmpID number ,month varchar(20),present number,leave number)")

In [80]:
# cur.execute("Create table allowance(EmpID number,Month varchar(20),Type Varchar(50),Percent decimal,FixedAmount Number)")

In [81]:
# cur.execute("Create table Var(EmpID number,Month Varchar(20),Description varchar(30),VariableAmt int)")

In [82]:
d1 = cur.execute("Select * from master")
for i in d1:
    print(i)

(123, 'John Doe', 101, 201, 'ABC123', 123456789, 'SBI', 'IFSC1', 'ACC001')
(456, 'Jane Smith', 102, 202, 'DEF456', 987654321, 'BOI', 'IFSC2', 'ACC002')
(789, 'Michael Johnson', 103, 203, 'GHI789', 456789123, 'UBI', 'IFSC3', 'ACC003')
(234, 'Sarah Williams', 104, 204, 'JKL234', 321654987, 'ICICI', 'IFSC4', 'ACC004')
(567, 'Robert Davis', 105, 205, 'MNO567', 789123456, 'HDFC', 'IFSC5', 'ACC005')

In [83]:
d2 = cur.execute("Select * from Dept")
for i in d2:
    print(i)

(101, 'Human Resources')
(102, 'Finance')
(103, 'Marketing')
(104, 'Operations')
(105, 'Research & Development')

In [84]:
d3 = cur.execute("Select * from Position")
for i in d3:
    print(i)

(201, 'Manager', 5000)
(202, 'Supervisor', 4000)
(203, 'Executive', 3500)
(204, 'Associate', 3000)
(205, 'Intern', 2000)

In [85]:
d4 = cur.execute("Select * from Atten")
for i in d4:
    print(i)

(101, 'January', 25, 5)
(102, 'January', 28, 2)
(103, 'January', 26, 4)
(104, 'January', 30, 0)
(105, 'January', 24, 6)

In [86]:
d5 = cur.execute("select * from allowance")
for i in d5:
    print(i)

(101, 'January', 'Housing', 11, None)
(102, 'January', 'Transportation', None, 5000)
(103, 'January', 'Medical', 8, None)
(104, 'January', 'Housing', None, 3000)
(105, 'January', 'Transportation', 5, None)

In [87]:
d6 = cur.execute("Select * from Var")
for i in d6:
    print(i)

(101, 'January', 'Bonus', 500)
(102, 'January', 'Overtime', 250)
(103, 'January', 'Incentive', 300)
(104, 'January', 'Allowance', 200)
(105, 'January', 'Commission', 400)

In [96]:
# cur.execute("drop table payslip")
# cur.execute("CREATE TABLE payslip (EmpID NUMBER PRIMARY KEY, Month VARCHAR(20), Salary NUMBER)")

InterfaceError: not a query

In [106]:

result = cur.fetchall()
for row in result:
    emp_id = row[0]
    month_name = row[1]
    salary = row[2]
    print(f"EmpID: {emp_id}, Month: {month_name}, Salary: {salary}")